<table class="table" id="appointment-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for appointment in appointments %}
    <tr>
      <td>{{ appointment.appointment_date }}</td>
      <td>{{ appointment.appointment_time }}</td>
      <td>{{ appointment.appointment_desc }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3" class="text-center bg-warning">No Appointments Available</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
